{% from "macros.html" import show_image %}

<div>
  {{ show_image(image) }}
</div>
<form method="post" action="{{ url_for('new_job', image_id=image.id) }}">
  <textarea rows="15" cols="50" name="parameters">
{
    "maxwidth" : 800,
    "iter_n": 10,
    "octave_n": 4,
    "end" : "inception_4c/output"
}
  </textarea>
  <input type="submit" value="New job" />
</form>

{% for job in image.jobs %}
  <div>
    <h2>Job #{{ job.id }}</h2>
    {% if job.status == "COMPLETED" %}
    {{ show_image(job.result_image) }}
    {% endif %}
    <h3>Status</h3>
    {{ job.status }}
    <h3>Parameters</h3>
    <p>{{ job.parameters }}</p>
  </div>
{% endfor %}

