{%- macro image_url(image) -%}
{% if image.folder %}/{{ image.folder.replace("/opt/deepdream/", "") }}{% endif %}/{{ image.filename }}
{%- endmacro -%}

{% macro image_link(image, content) %}
<a href="{{ url_for('view', image_id=image.id) }}">{{ content }}</a>
{% endmacro %}

{% macro job_link(job, content) %}
<a href="{{ url_for('view', image_id=job.source_image_id) }}#job-{{ job.id }}">{{ content }}</a>
{% endmacro %}

{% macro job_image_with_link(job) %}
<a href="{{ url_for('view', image_id=job.source_image_id) }}#job-{{ job.id }}">
  <img style="height: 200px" src="{{ image_url(job.result_image) }}" alt="{{ job.result_image.id }}">
</a>
{% endmacro %}


{% macro show_image_to_compare(image, source_image) %}
   <a href="{{ url_for('view', image_id=source_image.id) }}">
     <img style="height: 200px" src="{{ image_url(image) }}" alt="{{ image.id }}">
   </a>
{% endmacro %}

{% macro show_image(image) %}
   <a href="{{ image_url(image) }}">
     <img style="height: 600px" src="{{ image_url(image) }}" alt="{{ image.id }}">
   </a>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
  <ul class="pagination">
    {% if pagination.has_prev %}
      <li><a href="{{ url_for(endpoint, page=pagination.prev_num) }}">«</a></li>
    {% else %}
      <li class="disabled"><a href="#">«</a></li>
    {% endif %}


    {%- for page in pagination.iter_pages() %}
      {% if page %}
        <li class="{% if page == pagination.page %}active{% endif %}"><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
      {% else %}
        <li class="disabled"><a href="#">…</a></li>
      {% endif %}
    {%- endfor %}

    {% if pagination.has_next %}
      <li><a href="{{ url_for(endpoint, page=pagination.next_num) }}">»</a></li>
    {% else %}
      <li class="disabled"><a href="#">»</a></li>
    {% endif %}
  </ul>
{% endmacro %}
